[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
spacy = "*"
pypdf2 = "*"
pdfplumber = "*"
pymupdf = "*"
pandas = "*"
pyarrow = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.11"
